@page "/"

<h1>Hello Elsa!</h1>

<ul>
    <li>
        <a href="/_workflows/hello">start hello http workflow</a>
    </li>
    <li>
        <a href="/_workflows/demo">start demo http workflow</a>
    </li>
    <li>
        <a href="/documents">start documents workflow</a>
    </li>
    <li>
        <a href="/correlationworkflow">start correlation workflow</a>
    </li>
    <li>
        <a href="http://localhost:3000" target="_blank">email</a>
    </li>
</ul>
